In [1]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup 
import pandas as pdp
import requests
import random
import pandas as pd

In [1]:
import pickle
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.chrome.options import Options
import time
from bs4 import BeautifulSoup

In [32]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL della pagina web
url = 'https://www.the-numbers.com/movie/Shape-of-Water-The#tab=summary'

# Header per simulare un browser
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Effettua la richiesta HTTP
response = requests.get(url, headers=headers)

# Verifica se la richiesta ha avuto successo
if response.status_code == 200:
    # Crea un oggetto BeautifulSoup per analizzare la pagina
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Trova tutte le tabelle nella pagina
    tables = soup.find_all('table')
    
    # Trova la tabella che contiene la parola chiave 'Budget'
    target_table = tables[2]  # Poiché hai trovato la tabella con l'indice 2
    
    # Estrai le righe dalla tabella trovata
    rows = target_table.find_all('tr')
    
    # Estrai i dati da ogni riga e cella
    table_data = []
    for row in rows:
        cells = row.find_all('td')
        if cells:
            cell_data = [cell.get_text(strip=True) for cell in cells]
            table_data.append(cell_data)
    
    # Crea un DataFrame di pandas
    df = pd.DataFrame(table_data, columns=['Description', 'Value'])
    printdf[]
    
    # Salva il DataFrame in un file CSV
    #df.to_csv('budget_table.csv', index=False)
    
    print("Dati della tabella estratti e salvati in 'budget_table.csv'.")
else:
    print(f"Richiesta fallita con stato: {response.status_code}")

Dati della tabella estratti e salvati in 'budget_table.csv'.

In [33]:
df

          Description                                              Value
0    Opening Weekend:                     $166,564 (0.3% of total gross)
1               Legs:        10.78 (domestic box office/biggest weekend)
2     Domestic Share:              32.6% (domestic box office/worldwide)
3  Production Budget:  $19,500,000 (worldwide box office is 10.0 time...
4     Theater counts:  2 opening theaters/2,341 max. theaters, 6.6 we...
5  Infl. Adj. Dom. BO                                        $75,855,238

In [38]:
df['Value'][3]

'$19,500,000 (worldwide box office is 10.0 times production budget)'

In [41]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

# URL della pagina web
url = 'https://www.the-numbers.com/movie/Shape-of-Water-The#tab=summary'

# Header per simulare un browser
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Effettua la richiesta HTTP
response = requests.get(url, headers=headers)

# Verifica se la richiesta ha avuto successo
if response.status_code == 200:
    # Crea un oggetto BeautifulSoup per analizzare la pagina
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Trova tutte le tabelle nella pagina
    tables = soup.find_all('table')
    
    # Trova la tabella che contiene la parola chiave 'Budget'
    target_table = tables[2]  # Poiché hai trovato la tabella con l'indice 2
    
    # Estrai tutte le righe dalla tabella trovata
    rows = target_table.find_all('tr')
    
    # Seleziona la riga 3 (indice 2, perché l'indice parte da 0)
    if len(rows) > 3:
        row_3 = rows[3]
        cells = row_3.find_all('td')
        
        # Estrai i dati della riga 3
        cell_data = [cell.get_text(strip=True) for cell in cells]
        
        # Trova la cella contenente il valore del budget
        budget_text = cell_data[1]  # La seconda cella della riga contiene il budget
        
        # Usa una regex per estrarre solo i numeri dal testo
        match = re.search(r'\$([\d,]+)', budget_text)
        if match:
            # Estrai il numero e prepara i dati per il DataFrame
            budget_number = match.group(1)
            data = {
                "Description": ["Production Budget"],
                "Amount": [budget_number]
            }
            
            # Crea un DataFrame
            df = pd.DataFrame(data)
            
            # Stampa il DataFrame
            print(df)
        else:
            print("Numero del budget non trovato.")
    else:
        print("La tabella non ha abbastanza righe.")
else:
    print(f"Richiesta fallita con stato: {response.status_code}")

         Description      Amount
0  Production Budget  19,500,000

In [95]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

# Funzione per estrarre il budget da una tabella
def extract_budget_from_table(soup):
    tables = soup.find_all('table')
    target_table = tables[2]  # Poiché la tabella con il budget è la terza (indice 2)
    
    rows = target_table.find_all('tr')
    
    if len(rows) > 3:
        row_3 = rows[3]
        cells = row_3.find_all('td')
        
        cell_data = [cell.get_text(strip=True) for cell in cells]
        budget_text = cell_data[1]  # La seconda cella della riga contiene il budget
        
        match = re.search(r'\$([\d,]+)', budget_text)
        if match:
            budget_number = match.group(1)
            return budget_number
    return None

# Lista di URL e nomi dei film
film_data = [
    {"url": "https://www.the-numbers.com/movie/Shape-of-Water-The#tab=summary", "name": "La forma dell'acqua - The Shape of Water"},
    {"url": "https://www.the-numbers.com/movie/Forrest-Gump-(1994)#tab=summary", "name": "Forrest Gump"},
    {"url":"https://www.the-numbers.com/movie/Gandhi-(1982)#tab=summary", "name":"Gandhi"},
    {"url":"https://www.the-numbers.com/movie/Out-of-Africa-(1985)#tab=summary", "name":"La mia Africa"},
    {"url":"https://www.the-numbers.com/movie/Rain-Man#tab=summary", "name":"Rain Man - L'uomo della pioggia"},
    {"url":"https://www.the-numbers.com/movie/English-Patient-The#tab=summary", "name":"Il paziente inglese"},
    {"url": "https://www.the-numbers.com/movie/Schindlers-List-(1993)#tab=summary", "name":"Schindler's List"},
    {"url":"https://www.the-numbers.com/movie/Crash-(2005)#tab=summary", "name":"Crash: Contatto fisico"},
    {"url":"https://www.the-numbers.com/movie/Kings-Speech-The#tab=summary", "name":"Il discorso del re"},
    {"url":"https://www.the-numbers.com/movie/12-Years-a-Slave#tab=summary", "name":"12 anni schiavo"},
    {"url":"https://www.the-numbers.com/movie/Spotlight#tab=summary", "name":"Il caso Spotlight"},
    {"url":"https://www.the-numbers.com/movie/Moonlight-(2016)#tab=summary", "name":"Moonlight"},
    {"url":"https://www.the-numbers.com/movie/Green-Book-(2018)#tab=summary", "name":"Green Book"},
    {"url":"https://www.the-numbers.com/movie/Parasite-(2019-South-Korea)#tab=summary", "name":"Parasite"},
    {"url":"https://www.the-numbers.com/movie/Slumdog-Millionaire#tab=summary", "name":"The Millionaire"}
    
    # Aggiungi altri URL e nomi di film qui
]

# Lista per accumulare i dati
data = []

# Ciclo attraverso ogni URL e nome del film
for film in film_data:
    url = film["url"]
    name = film["name"]
    
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }
    
    # Effettua la richiesta HTTP
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        budget = extract_budget_from_table(soup)
        
        if budget:
            data.append({"Film": name, "Production Budget": budget})
        else:
            data.append({"Film": name, "Production Budget": "Not found"})
    else:
        data.append({"Film": name, "Production Budget": "Request failed"})

# Crea un DataFrame con i dati raccolti
budget_1 = pd.DataFrame(data)

# Stampa il DataFrame
print(budget_1)

                                        Film Production Budget
0   La forma dell'acqua - The Shape of Water        19,500,000
1                               Forrest Gump        55,000,000
2                                     Gandhi        22,000,000
3                              La mia Africa        28,000,000
4            Rain Man - L'uomo della pioggia        25,000,000
5                        Il paziente inglese        35,000,000
6                           Schindler's List        25,000,000
7                     Crash: Contatto fisico         7,303,082
8                         Il discorso del re        15,000,000
9                            12 anni schiavo        20,000,000
10                         Il caso Spotlight        20,000,000
11                                 Moonlight         1,500,000
12                                Green Book        23,000,000
13                                  Parasite        11,800,000
14                           The Millionaire        14,000,000

In [ ]:
## non c'è quinto potere, the millionaire

In [96]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

# Funzione per estrarre il budget da una tabella
def extract_budget_from_table(soup):
    tables = soup.find_all('table')
    target_table = tables[2]  # Poiché la tabella con il budget è la terza (indice 2)
    
    rows = target_table.find_all('tr')
    
    if len(rows) > 2:
        row_3 = rows[2]
        cells = row_3.find_all('td')
        
        cell_data = [cell.get_text(strip=True) for cell in cells]
        budget_text = cell_data[1]  # La seconda cella della riga contiene il budget
        
        match = re.search(r'\$([\d,]+)', budget_text)
        if match:
            budget_number = match.group(1)
            return budget_number
    return None

# Lista di URL e nomi dei film
film_data = [
    {"url":"https://www.the-numbers.com/movie/Lawrence-of-Arabia#tab=summary", "name":"Lawrence di Arabia"}, #3 riga
{"url":"https://www.the-numbers.com/movie/Last-Emperor-The-(1987)#tab=summary", "name":"L'ultimo imperatore"}, #3 riga
{"url":"https://www.the-numbers.com/movie/Driving-Miss-Daisy#tab=summary", "name":"A spasso con Daisy"}, # 3 riga
{"url":"https://www.the-numbers.com/movie/Nomadland#tab=summary", "name":"Nomadland"}#3 riga
    # Aggiungi altri URL e nomi di film qui
]

# Lista per accumulare i dati
data = []

# Ciclo attraverso ogni URL e nome del film
for film in film_data:
    url = film["url"]
    name = film["name"]
    
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }
    
    # Effettua la richiesta HTTP
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        budget = extract_budget_from_table(soup)
        
        if budget:
            data.append({"Film": name, "Production Budget": budget})
        else:
            data.append({"Film": name, "Production Budget": "Not found"})
    else:
        data.append({"Film": name, "Production Budget": "Request failed"})

# Crea un DataFrame con i dati raccolti
budget_2 = pd.DataFrame(data)

# Stampa il DataFrame
print(budget_2)

                  Film Production Budget
0   Lawrence di Arabia        15,000,000
1  L'ultimo imperatore        25,000,000
2   A spasso con Daisy         7,500,000
3            Nomadland         5,000,000

In [99]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

# Funzione per estrarre il budget da una tabella
def extract_budget_from_table(soup):
    tables = soup.find_all('table')
    target_table = tables[2]  # Poiché la tabella con il budget è la terza (indice 2)
    
    rows = target_table.find_all('tr')
    
    if len(rows) > 1:
        row_3 = rows[1]
        cells = row_3.find_all('td')
        
        cell_data = [cell.get_text(strip=True) for cell in cells]
        budget_text = cell_data[1]  # La seconda cella della riga contiene il budget
        
        match = re.search(r'\$([\d,]+)', budget_text)
        if match:
            budget_number = match.group(1)
            return budget_number
    return None

# Lista di URL e nomi dei film
film_data = [
    {"url":"https://www.the-numbers.com/movie/Lost-Weekend-The-(1945)#tab=summary", "name":"Giorni perduti"},#2 riga
     {"url":"https://www.the-numbers.com/movie/On-the-Waterfront#tab=summary", "name":"Fronte del porto"}, #2riga
    {"url":"https://www.the-numbers.com/movie/Apartment-The#tab=summary", "name":"L'appartamento"},
    {"url":"https://www.the-numbers.com/movie/Network#tab=summary", "name":"Quinto potere"}
    
]

# Lista per accumulare i dati
data = []

# Ciclo attraverso ogni URL e nome del film
for film in film_data:
    url = film["url"]
    name = film["name"]
    
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }
    
    # Effettua la richiesta HTTP
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        budget = extract_budget_from_table(soup)
        
        if budget:
            data.append({"Film": name, "Production Budget": budget})
        else:
            data.append({"Film": name, "Production Budget": "Not found"})
    else:
        data.append({"Film": name, "Production Budget": "Request failed"})

# Crea un DataFrame con i dati raccolti
budget_3 = pd.DataFrame(data)

# Stampa il DataFrame
print(budget_3)

               Film Production Budget
0    Giorni perduti         1,250,000
1  Fronte del porto           910,000
2    L'appartamento         3,000,000
3     Quinto potere         3,800,000

In [100]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

# Funzione per estrarre il budget da una tabella
def extract_budget_from_table(soup):
    tables = soup.find_all('table')
    target_table = tables[2]  # Poiché la tabella con il budget è la terza (indice 2)
    
    rows = target_table.find_all('tr')
    
    if len(rows) > 0:
        row_3 = rows[0]
        cells = row_3.find_all('td')
        
        cell_data = [cell.get_text(strip=True) for cell in cells]
        budget_text = cell_data[1]  # La seconda cella della riga contiene il budget
        
        match = re.search(r'\$([\d,]+)', budget_text)
        if match:
            budget_number = match.group(1)
            return budget_number
    return None

# Lista di URL e nomi dei film
film_data = [
    {"url":"https://www.the-numbers.com/movie/Coda-(2021)#tab=summary", "name":"CODA - I segni del cuore"}#1 riga
    
]

# Lista per accumulare i dati
data = []

# Ciclo attraverso ogni URL e nome del film
for film in film_data:
    url = film["url"]
    name = film["name"]
    
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }
    
    # Effettua la richiesta HTTP
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        budget = extract_budget_from_table(soup)
        
        if budget:
            data.append({"Film": name, "Production Budget": budget})
        else:
            data.append({"Film": name, "Production Budget": "Not found"})
    else:
        data.append({"Film": name, "Production Budget": "Request failed"})

# Crea un DataFrame con i dati raccolti
budget_4 = pd.DataFrame(data)

# Stampa il DataFrame
print(budget_4)

                       Film Production Budget
0  CODA - I segni del cuore        10,000,000

In [104]:
#Concateno tabelle
budget_finale = pd.concat([budget_1,budget_2,budget_3,budget_4], axis=0)
budget_finale.reset_index(drop=True, inplace=True)

In [105]:
budget_finale

                                        Film Production Budget
0   La forma dell'acqua - The Shape of Water        19,500,000
1                               Forrest Gump        55,000,000
2                                     Gandhi        22,000,000
3                              La mia Africa        28,000,000
4            Rain Man - L'uomo della pioggia        25,000,000
5                        Il paziente inglese        35,000,000
6                           Schindler's List        25,000,000
7                     Crash: Contatto fisico         7,303,082
8                         Il discorso del re        15,000,000
9                            12 anni schiavo        20,000,000
10                         Il caso Spotlight        20,000,000
11                                 Moonlight         1,500,000
12                                Green Book        23,000,000
13                                  Parasite        11,800,000
14                           The Millionaire        14,000,000
15                        Lawrence di Arabia        15,000,000
16                       L'ultimo imperatore        25,000,000
17                        A spasso con Daisy         7,500,000
18                                 Nomadland         5,000,000
19                            Giorni perduti         1,250,000
20                          Fronte del porto           910,000
21                            L'appartamento         3,000,000
22                             Quinto potere         3,800,000
23                  CODA - I segni del cuore        10,000,000

## Incasso

In [83]:
import requests
from bs4 import BeautifulSoup

# URL della pagina da cui estrarre il numero
url = "https://www.the-numbers.com/movie/Forrest-Gump-(1994)"

# Header per simulare un browser
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Effettua la richiesta HTTP
response = requests.get(url, headers=headers)


# Controlla se la richiesta è stata eseguita con successo
if response.status_code == 200:
    # Crea un oggetto BeautifulSoup con il contenuto HTML della pagina
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Trova la tabella contenente i dati
    table = soup.find('div', id='page_filling_chart').find('table')
    
    # Trova tutte le righe della tabella
    rows = table.find_all('tr')
    
    # Itera sulle righe e cerca quella con il testo desiderato
    for row in rows:
        cells = row.find_all('td')
        if len(cells) > 2 and 'Worldwide Box Office' in cells[0].text:
            worldwide_box_office = cells[2].text.strip()
            print(f'Worldwide Box Office: {worldwide_box_office}')
            break
else:
    print(f"Errore nella richiesta: {response.status_code}")

Worldwide Box Office: $679,835,137

In [84]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def extract_worldwide_box_office(url):
    # Header per simulare un browser
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }

    # Effettua la richiesta HTTP
    response = requests.get(url, headers=headers)

    # Controlla se la richiesta è stata eseguita con successo
    if response.status_code == 200:
        # Crea un oggetto BeautifulSoup con il contenuto HTML della pagina
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Trova la tabella contenente i dati
        table = soup.find('div', id='page_filling_chart').find('table')
        
        # Trova tutte le righe della tabella
        rows = table.find_all('tr')
        
        # Itera sulle righe e cerca quella con il testo desiderato
        for row in rows:
            cells = row.find_all('td')
            if len(cells) > 2 and 'Worldwide Box Office' in cells[0].text:
                worldwide_box_office = cells[2].text.strip()
                return worldwide_box_office
    return "Non trovato"

def main(urls, film_names):
    data = []
    for url, film in zip(urls, film_names):
        worldwide_box_office = extract_worldwide_box_office(url)
        data.append({'Film': film, 'Worldwide Box Office': worldwide_box_office})
    
    # Crea un DataFrame pandas con i dati raccolti
    df = pd.DataFrame(data)
    
    # Salva il DataFrame in un file CSV
    df.to_csv('film_worldwide_box_office.csv', index=False)
    print(df)

# Lista di URL e nomi dei film
urls = [
    'https://www.the-numbers.com/movie/Shape-of-Water-The#tab=summary',
    'https://www.the-numbers.com/movie/Forrest-Gump-(1994)#tab=summary'
]

film_names = [
    'The Shape of Water',
    'Forrest Gump'
]

main(urls, film_names)

                 Film Worldwide Box Office
0  The Shape of Water         $195,790,794
1        Forrest Gump         $679,835,137

In [109]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def extract_worldwide_box_office(url):
    # Header per simulare un browser
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }

    # Effettua la richiesta HTTP
    response = requests.get(url, headers=headers)

    # Controlla se la richiesta è stata eseguita con successo
    if response.status_code == 200:
        # Crea un oggetto BeautifulSoup con il contenuto HTML della pagina
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Trova la tabella contenente i dati
        table = soup.find('div', id='page_filling_chart').find('table')
        
        # Trova tutte le righe della tabella
        rows = table.find_all('tr')
        
        # Itera sulle righe e cerca quella con il testo desiderato
        for row in rows:
            cells = row.find_all('td')
            if len(cells) > 2 and 'Worldwide Box Office' in cells[0].text:
                worldwide_box_office = cells[2].text.strip()
                return worldwide_box_office
    return "Non trovato"

def main(films):
    data = []
    for film in films:
        url = film['url']
        name = film['name']
        worldwide_box_office = extract_worldwide_box_office(url)
        data.append({'Film': name, 'Worldwide Box Office': worldwide_box_office})
    
    # Crea un DataFrame pandas con i dati raccolti
    Worldwide_Box_Office= pd.DataFrame(data)
    
    # Salva il DataFrame in un file CSV
    #df.to_csv('film_worldwide_box_office.csv', index=False)
    print(Worldwide_Box_Office)
    return Worldwide_Box_Office
# Lista di dizionari contenente URL e nomi dei film
films = [
    {"url": "https://www.the-numbers.com/movie/Shape-of-Water-The#tab=summary", "name": "La forma dell'acqua - The Shape of Water"},
    {"url": "https://www.the-numbers.com/movie/Forrest-Gump-(1994)#tab=summary", "name": "Forrest Gump"},
    {"url":"https://www.the-numbers.com/movie/Gandhi-(1982)#tab=summary", "name":"Gandhi"},
    {"url":"https://www.the-numbers.com/movie/Out-of-Africa-(1985)#tab=summary", "name":"La mia Africa"},
    {"url":"https://www.the-numbers.com/movie/Rain-Man#tab=summary", "name":"Rain Man - L'uomo della pioggia"},
    {"url":"https://www.the-numbers.com/movie/English-Patient-The#tab=summary", "name":"Il paziente inglese"},
    {"url": "https://www.the-numbers.com/movie/Schindlers-List-(1993)#tab=summary", "name":"Schindler's List"},
    {"url":"https://www.the-numbers.com/movie/Crash-(2005)#tab=summary", "name":"Crash: Contatto fisico"},
    {"url":"https://www.the-numbers.com/movie/Kings-Speech-The#tab=summary", "name":"Il discorso del re"},
    {"url":"https://www.the-numbers.com/movie/12-Years-a-Slave#tab=summary", "name":"12 anni schiavo"},
    {"url":"https://www.the-numbers.com/movie/Spotlight#tab=summary", "name":"Il caso Spotlight"},
    {"url":"https://www.the-numbers.com/movie/Moonlight-(2016)#tab=summary", "name":"Moonlight"},
    {"url":"https://www.the-numbers.com/movie/Green-Book-(2018)#tab=summary", "name":"Green Book"},
    {"url":"https://www.the-numbers.com/movie/Parasite-(2019-South-Korea)#tab=summary", "name":"Parasite"},
    {"url":"https://www.the-numbers.com/movie/Slumdog-Millionaire#tab=summary", "name":"The Millionaire"},

{"url":"https://www.the-numbers.com/movie/Lawrence-of-Arabia#tab=summary", "name":"Lawrence di Arabia"}, #3 riga
{"url":"https://www.the-numbers.com/movie/Last-Emperor-The-(1987)#tab=summary", "name":"L'ultimo imperatore"}, #3 riga
{"url":"https://www.the-numbers.com/movie/Driving-Miss-Daisy#tab=summary", "name":"A spasso con Daisy"}, # 3 riga
{"url":"https://www.the-numbers.com/movie/Nomadland#tab=summary", "name":"Nomadland"},#3 riga
{"url":"https://www.the-numbers.com/movie/Lost-Weekend-The-(1945)#tab=summary", "name":"Giorni perduti"},#2 riga
     {"url":"https://www.the-numbers.com/movie/On-the-Waterfront#tab=summary", "name":"Fronte del porto"}, #2riga
    {"url":"https://www.the-numbers.com/movie/Apartment-The#tab=summary", "name":"L'appartamento"},
    {"url":"https://www.the-numbers.com/movie/Network#tab=summary", "name":"Quinto potere"},
    {"url":"https://www.the-numbers.com/movie/Coda-(2021)#tab=summary", "name":"CODA - I segni del cuore"}

]

Word_wide=main(films)

                                        Film Worldwide Box Office
0   La forma dell'acqua - The Shape of Water         $195,790,794
1                               Forrest Gump         $679,835,137
2                                     Gandhi         $127,767,889
3                              La mia Africa         $258,210,860
4            Rain Man - L'uomo della pioggia         $412,800,000
5                        Il paziente inglese         $231,710,008
6                           Schindler's List         $322,197,130
7                     Crash: Contatto fisico         $101,173,038
8                         Il discorso del re         $430,061,213
9                            12 anni schiavo         $180,765,061
10                         Il caso Spotlight          $91,902,438
11                                 Moonlight          $64,895,106
12                                Green Book         $319,995,019
13                                  Parasite         $253,267,858
14                           The Millionaire         $383,825,427
15                        Lawrence di Arabia          $69,995,047
16                       L'ultimo imperatore          $44,005,435
17                        A spasso con Daisy         $106,593,296
18                                 Nomadland          $38,728,987
19                            Giorni perduti          $11,000,000
20                          Fronte del porto           $9,609,459
21                            L'appartamento          $24,599,998
22                             Quinto potere          $23,698,846
23                  CODA - I segni del cuore           $2,237,618

In [110]:
Word_wide

                                        Film Worldwide Box Office
0   La forma dell'acqua - The Shape of Water         $195,790,794
1                               Forrest Gump         $679,835,137
2                                     Gandhi         $127,767,889
3                              La mia Africa         $258,210,860
4            Rain Man - L'uomo della pioggia         $412,800,000
5                        Il paziente inglese         $231,710,008
6                           Schindler's List         $322,197,130
7                     Crash: Contatto fisico         $101,173,038
8                         Il discorso del re         $430,061,213
9                            12 anni schiavo         $180,765,061
10                         Il caso Spotlight          $91,902,438
11                                 Moonlight          $64,895,106
12                                Green Book         $319,995,019
13                                  Parasite         $253,267,858
14                           The Millionaire         $383,825,427
15                        Lawrence di Arabia          $69,995,047
16                       L'ultimo imperatore          $44,005,435
17                        A spasso con Daisy         $106,593,296
18                                 Nomadland          $38,728,987
19                            Giorni perduti          $11,000,000
20                          Fronte del porto           $9,609,459
21                            L'appartamento          $24,599,998
22                             Quinto potere          $23,698,846
23                  CODA - I segni del cuore           $2,237,618

In [120]:
merged_df = pd.merge(budget_finale, Word_wide, on='Film', how='outer')

In [121]:
merged_df

,Film,Production Budget,Worldwide Box Office
0,La forma dell'acqua - The Shape of Water,"19,500,000","$195,790,794"
1,Forrest Gump,"55,000,000","$679,835,137"
2,Gandhi,"22,000,000","$127,767,889"
3,La mia Africa,"28,000,000","$258,210,860"
4,Rain Man - L'uomo della pioggia,"25,000,000","$412,800,000"
5,Il paziente inglese,"35,000,000","$231,710,008"
6,Schindler's List,"25,000,000","$322,197,130"
7,Crash: Contatto fisico,"7,303,082","$101,173,038"
8,Il discorso del re,"15,000,000","$430,061,213"
9,12 anni schiavo,"20,000,000","$180,765,061"
10,Il caso Spotlight,"20,000,000","$91,902,438"
11,Moonlight,"1,500,000","$64,895,106"
12,Green Book,"23,000,000","$319,995,019"
13,Parasite,"11,800,000","$253,267,858"
14,The Millionaire,"14,000,000","$383,825,427"
15,Lawrence di Arabia,"15,000,000","$69,995,047"
16,L'ultimo imperatore,"25,000,000","$44,005,435"
17,A spasso con Daisy,"7,500,000","$106,593,296"
18,Nomadland,"5,000,000","$38,728,987"
19,Giorni perduti,"1,250,000","$11,000,000"
20,Fronte del porto,"910,000","$9,609,459"
21,L'appartamento,"3,000,000","$24,599,998"
22,Quinto potere,"3,800,000","$23,698,846"
23,CODA - I segni del cuore,"10,000,000","$2,237,618"

In [122]:
merged_df.columns

Index(['Film', 'Production Budget', 'Worldwide Box Office'], dtype='object')

In [123]:
merged_df['Worldwide Box Office'] = merged_df['Worldwide Box Office'].str.replace('$', '', regex=False)

# Convertire la colonna in numerico, se necessario
#df['prezzo'] = pd.to_numeric(df['prezzo'])

In [124]:
merged_df

,Film,Production Budget,Worldwide Box Office
0,La forma dell'acqua - The Shape of Water,"19,500,000","195,790,794"
1,Forrest Gump,"55,000,000","679,835,137"
2,Gandhi,"22,000,000","127,767,889"
3,La mia Africa,"28,000,000","258,210,860"
4,Rain Man - L'uomo della pioggia,"25,000,000","412,800,000"
5,Il paziente inglese,"35,000,000","231,710,008"
6,Schindler's List,"25,000,000","322,197,130"
7,Crash: Contatto fisico,"7,303,082","101,173,038"
8,Il discorso del re,"15,000,000","430,061,213"
9,12 anni schiavo,"20,000,000","180,765,061"
10,Il caso Spotlight,"20,000,000","91,902,438"
11,Moonlight,"1,500,000","64,895,106"
12,Green Book,"23,000,000","319,995,019"
13,Parasite,"11,800,000","253,267,858"
14,The Millionaire,"14,000,000","383,825,427"
15,Lawrence di Arabia,"15,000,000","69,995,047"
16,L'ultimo imperatore,"25,000,000","44,005,435"
17,A spasso con Daisy,"7,500,000","106,593,296"
18,Nomadland,"5,000,000","38,728,987"
19,Giorni perduti,"1,250,000","11,000,000"
20,Fronte del porto,"910,000","9,609,459"
21,L'appartamento,"3,000,000","24,599,998"
22,Quinto potere,"3,800,000","23,698,846"
23,CODA - I segni del cuore,"10,000,000","2,237,618"

In [125]:
## Giorni perduti e a spasso con daisy

merged_df=merged_df.drop(index=17)
merged_df=merged_df.drop(index=19)

In [126]:
merged_df

,Film,Production Budget,Worldwide Box Office
0,La forma dell'acqua - The Shape of Water,"19,500,000","195,790,794"
1,Forrest Gump,"55,000,000","679,835,137"
2,Gandhi,"22,000,000","127,767,889"
3,La mia Africa,"28,000,000","258,210,860"
4,Rain Man - L'uomo della pioggia,"25,000,000","412,800,000"
5,Il paziente inglese,"35,000,000","231,710,008"
6,Schindler's List,"25,000,000","322,197,130"
7,Crash: Contatto fisico,"7,303,082","101,173,038"
8,Il discorso del re,"15,000,000","430,061,213"
9,12 anni schiavo,"20,000,000","180,765,061"
10,Il caso Spotlight,"20,000,000","91,902,438"
11,Moonlight,"1,500,000","64,895,106"
12,Green Book,"23,000,000","319,995,019"
13,Parasite,"11,800,000","253,267,858"
14,The Millionaire,"14,000,000","383,825,427"
15,Lawrence di Arabia,"15,000,000","69,995,047"
16,L'ultimo imperatore,"25,000,000","44,005,435"
18,Nomadland,"5,000,000","38,728,987"
20,Fronte del porto,"910,000","9,609,459"
21,L'appartamento,"3,000,000","24,599,998"
22,Quinto potere,"3,800,000","23,698,846"
23,CODA - I segni del cuore,"10,000,000","2,237,618"

In [127]:
merged_df = merged_df.reset_index(drop=True)

In [128]:
merged_df

,Film,Production Budget,Worldwide Box Office
0,La forma dell'acqua - The Shape of Water,"19,500,000","195,790,794"
1,Forrest Gump,"55,000,000","679,835,137"
2,Gandhi,"22,000,000","127,767,889"
3,La mia Africa,"28,000,000","258,210,860"
4,Rain Man - L'uomo della pioggia,"25,000,000","412,800,000"
5,Il paziente inglese,"35,000,000","231,710,008"
6,Schindler's List,"25,000,000","322,197,130"
7,Crash: Contatto fisico,"7,303,082","101,173,038"
8,Il discorso del re,"15,000,000","430,061,213"
9,12 anni schiavo,"20,000,000","180,765,061"
10,Il caso Spotlight,"20,000,000","91,902,438"
11,Moonlight,"1,500,000","64,895,106"
12,Green Book,"23,000,000","319,995,019"
13,Parasite,"11,800,000","253,267,858"
14,The Millionaire,"14,000,000","383,825,427"
15,Lawrence di Arabia,"15,000,000","69,995,047"
16,L'ultimo imperatore,"25,000,000","44,005,435"
17,Nomadland,"5,000,000","38,728,987"
18,Fronte del porto,"910,000","9,609,459"
19,L'appartamento,"3,000,000","24,599,998"
20,Quinto potere,"3,800,000","23,698,846"
21,CODA - I segni del cuore,"10,000,000","2,237,618"

In [130]:
merged_df.to_csv("budget_incasso.csv", index=False) #finale usato nelle analisi

## MOJO

In [3]:
# mojo
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_worldwide_data(urls, specified_titles):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
    }

    all_data = []

    for url, specified_title in zip(urls, specified_titles):
        # Fetch the webpage
        page = requests.get(url, headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser')

        # Find all div elements with class 'mojo-summary-values'
        summary_divs = soup.find_all('div', class_='mojo-summary-values')

        budget_value = None

        for div in summary_divs:
            # Look for the 'Budget' label and its corresponding value
            label_span = div.find('span', text='Budget')
            if label_span:
                # Find the next sibling span that contains the budget value
                budget_span = label_span.find_next_sibling('span')
                if budget_span:
                    money_span = budget_span.find('span', class_='money')
                    if money_span:
                        budget_value = money_span.text.strip()
                        break  # Stop searching further once found

        if budget_value:
            all_data.append({
                'Film': specified_title,
                'Budget': budget_value
            })
        else:
            all_data.append({
                'Film': specified_title,
                'Budget': 'Dati non disponibili'
            })

    return all_data

# List of URLs to scrape
urls = [
    ## no Fronte del porto, appartamneto, gandhi, a spasso con daisy, no spotlight, shape of water
    "https://www.boxofficemojo.com/title/tt0074958/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0108052/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0109830/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt1010048/?ref_=bo_se_r_1",
     "https://www.boxofficemojo.com/title/tt2024544/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6966692/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6751668/?ref_=bo_se_r_1"
]

# List of specified titles corresponding to each URL
specified_titles = [

    "Quinto potere",
    "Schindler's List",
    "Forrest Gump",
    "The Millionaire",
    "12 anni schiavo",
    "Green Book",
    "Parasite"
]

# Scrape data and create DataFrame
data = scrape_worldwide_data(urls, specified_titles)
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Film       Budget
0  Forrest  $55,000,000

/var/folders/z1/5d0679sd5qz5vfgmddjjg_sw0000gn/T/ipykernel_4939/2032695266.py:24: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  label_span = div.find('span', text='Budget')

## Incasso globale

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_worldwide_data(urls, specified_titles):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
    }

    all_data = []

    for url, specified_title in zip(urls, specified_titles):
        # Fetch the webpage
        page = requests.get(url, headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser')

        # Find all div elements with class 'mojo-performance-summary-table'
        performance_summary_divs = soup.find_all('div', class_='mojo-performance-summary-table')

        worldwide_value = None

        for div in performance_summary_divs:
            h2_element = div.find('h2', class_='a-size-large a-text-bold')
            if h2_element and h2_element.text.strip() == 'All Releases':
                release_divs = div.find_all('div', class_='a-section a-spacing-none')
                
                for release_div in release_divs:
                    label_span = release_div.find('span', class_='a-size-small')
                    if label_span:
                        label = label_span.text.strip()

                        if label == 'Worldwide':
                            money_span = release_div.find('span', class_='money')
                            if money_span:
                                worldwide_value = money_span.text.strip()
                                break  # Stop searching further once found

        if worldwide_value:
            all_data.append({
                'Film': specified_title,
                'Incasso Globale': worldwide_value
            })
        else:
            all_data.append({
                'Film': specified_title,
                'Incasso Globale': 'Dati non disponibili'
            })

    return all_data

# List of URLs to scrape
urls = [
    "https://www.boxofficemojo.com/title/tt0047296/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0053604/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0074958/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0083987/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0097239/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0108052/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0109830/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt1010048/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt2024544/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt1895587/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt5580390/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6966692/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6751668/?ref_=bo_se_r_1"
]

# List of specified titles corresponding to each URL
specified_titles = [
    "Fronte del porto",
    "L'appartamento",
    "Quinto potere",
    "Gandhi",
    "A spasso con Daisy",
    "Schindler's List",
    "Forrest Gump",
    "The Millionaire",
    "12 anni schiavo",
    "Il caso Spotlight",
    "La forma dell'acqua - The Shape of Water",
    "Green Book",
    "Parasite"
]

# Scrape data and create DataFrame
data = scrape_worldwide_data(urls, specified_titles)
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

                                        Film Incasso Globale
0                           Fronte del porto          $3,350
1                             L'appartamento     $18,778,738
2                              Quinto potere     $23,701,317
3                                     Gandhi     $52,767,889
4                         A spasso con Daisy    $145,793,296
5                           Schindler's List    $322,161,245
6                               Forrest Gump    $678,226,465
7                            The Millionaire    $378,411,362
8                            12 anni schiavo    $187,734,091
9                          Il caso Spotlight     $98,690,254
10  La forma dell'acqua - The Shape of Water    $195,243,464
11                                Green Book    $321,752,656
12                                  Parasite    $262,129,969

In [5]:
budget

NameError: name 'budget' is not defined

In [139]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_worldwide_data(urls, specified_titles):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
    }

    all_data = []

    for url, specified_title in zip(urls, specified_titles):
        # Fetch the webpage
        page = requests.get(url, headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser')

        # Find all div elements with class 'mojo-performance-summary-table'
        performance_summary_divs = soup.find_all('div', class_='mojo-performance-summary-table')

        worldwide_value = None

        for div in performance_summary_divs:
            h2_element = div.find('h2', class_='a-size-large a-text-bold')
            if h2_element and h2_element.text.strip() == 'All Releases':
                release_divs = div.find_all('div', class_='a-section a-spacing-none')
                
                for release_div in release_divs:
                    label_span = release_div.find('span', class_='a-size-small')
                    if label_span:
                        label = label_span.text.strip()

                        if label == 'Worldwide':
                            money_span = release_div.find('span', class_='money')
                            if money_span:
                                worldwide_value = money_span.text.strip()
                                break  # Stop searching further once found

        if worldwide_value:
            all_data.append({
                'Film': specified_title,
                'Incasso Globale': worldwide_value
            })
        else:
            all_data.append({
                'Title': specified_title,
                'Worldwide Gross': 'Dati non disponibili'
            })

    return all_data

# List of URLs to scrape
urls = [
    "https://www.boxofficemojo.com/title/tt0047296/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0053604/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0074958/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0083987/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0097239/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0108052/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0109830/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt1010048/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt2024544/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt1895587/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt5580390/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6966692/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6751668/?ref_=bo_se_r_1"
    
    
    
    
]

# List of specified titles corresponding to each URL
specified_titles = [
    "Fronte del porto",
    "L'appartamento",
    "Quinto potere",
    "Gandhi",
    "A spasso con Daisy",
    "Schindler's List",
    "Forrest Gump",
    "The Millionaire",
    "12 anni schiavo",
    "Il caso Spotlight",
    "La forma dell'acqua - The Shape of Water",
    
]

# Scrape data and create DataFrame
data = scrape_worldwide_data(urls, specified_titles)
df = pd.DataFrame(data)

# Print the DataFrame

In [140]:
df

                                        Film Incasso Globale
0                           Fronte del porto          $3,350
1                             L'appartamento     $18,778,738
2                              Quinto potere     $23,701,317
3                                     Gandhi     $52,767,889
4                         A spasso con Daisy    $145,793,296
5                           Schindler's List    $322,161,245
6                               Forrest Gump    $678,226,465
7                            The Millionaire    $378,411,362
8                            12 anni schiavo    $187,734,091
9                          Il caso Spotlight     $98,690,254
10  La forma dell'acqua - The Shape of Water    $195,243,464

In [141]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_worldwide_data(urls, specified_titles):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
    }

    all_data = []

    for url, specified_title in zip(urls, specified_titles):
        # Fetch the webpage
        page = requests.get(url, headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser')

        # Find all div elements with class 'mojo-performance-summary-table'
        performance_summary_divs = soup.find_all('div', class_='mojo-performance-summary-table')

        worldwide_value = None

        for div in performance_summary_divs:
            h2_element = div.find('h2', class_='a-size-large a-text-bold')
            if h2_element and h2_element.text.strip() == 'All Releases':
                release_divs = div.find_all('div', class_='a-section a-spacing-none')
                
                for release_div in release_divs:
                    label_span = release_div.find('span', class_='a-size-small')
                    if label_span:
                        label = label_span.text.strip()

                        if label == 'Worldwide':
                            money_span = release_div.find('span', class_='money')
                            if money_span:
                                worldwide_value = money_span.text.strip()
                                break  # Stop searching further once found

        if worldwide_value:
            all_data.append({
                'Film': specified_title,
                'Incasso Globale': worldwide_value
            })
        else:
            all_data.append({
                'Title': specified_title,
                'Worldwide Gross': 'Dati non disponibili'
            })

    return all_data

# List of URLs to scrape
urls = [
    "https://www.boxofficemojo.com/title/tt6751668/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt9770150/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt10366460/?ref_=bo_se_r_1"
    
    
    
    
]

# List of specified titles corresponding to each URL
specified_titles = [
    "Parasite", #Parasite
    "Nomadland",
    "CODA - I segni del cuore"
    
]

# Scrape data and create DataFrame
data = scrape_worldwide_data(urls, specified_titles)
df_2 = pd.DataFrame(data)

# Print the DataFrame

In [142]:
df_2

                       Film Incasso Globale
0                  Parasite    $262,129,969
1                 Nomadland     $39,458,207
2  CODA - I segni del cuore      $1,905,058

# Altri

In [143]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_worldwide_data(urls, specified_titles):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
    }

    all_data = []

    for url, specified_title in zip(urls, specified_titles):
        # Fetch the webpage
        page = requests.get(url, headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser')

        # Find all div elements with class 'mojo-performance-summary-table'
        performance_summary_divs = soup.find_all('div', class_='mojo-performance-summary-table')

        worldwide_value = None

        for div in performance_summary_divs:
            h2_element = div.find('h2', class_='a-size-large a-text-bold')
            if h2_element and h2_element.text.strip() == 'All Releases':
                release_divs = div.find_all('div', class_='a-section a-spacing-none')
                
                for release_div in release_divs:
                    label_span = release_div.find('span', class_='a-size-small')
                    if label_span:
                        label = label_span.text.strip()

                        if label == 'Worldwide':
                            money_span = release_div.find('span', class_='money')
                            if money_span:
                                worldwide_value = money_span.text.strip()
                                break  # Stop searching further once found

        if worldwide_value:
            all_data.append({
                'Film': specified_title,
                'Incasso Globale': worldwide_value
            })
        else:
            all_data.append({
                'Title': specified_title,
                'Worldwide Gross': 'Dati non disponibili'
            })

    return all_data

# List of URLs to scrape
urls = [
    "https://www.boxofficemojo.com/title/tt0089755/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0056172/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0093389/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0095953/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0116209/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0375679/?ref_=bo_se_r_2",
    "https://www.boxofficemojo.com/title/tt1504320/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt4975722/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6966692/?ref_=bo_se_r_1"
   
    
    
    
    
]

# List of specified titles corresponding to each URL
specified_titles = [
    "La mia Africa",
    "Lawrence d'Arabia",
    "L'ultimo imperatore",
    "Rain Man - L'uomo della pioggia",
    "Il paziente inglese",
    "Crash: Contatto fisico",
    "Il discorso del re",
    "Moonlight", 
    "Green Book"
    
   
    
]

# Scrape data and create DataFrame
data = scrape_worldwide_data(urls, specified_titles)
df_3 = pd.DataFrame(data)

# Print the DataFrame

In [144]:
df_3

                              Film Incasso Globale
0                    La mia Africa    $227,514,205
1                Lawrence d'Arabia     $45,754,427
2              L'ultimo imperatore     $43,994,979
3  Rain Man - L'uomo della pioggia    $354,825,435
4              Il paziente inglese    $231,976,425
5           Crash: Contatto fisico     $98,410,061
6               Il discorso del re    $472,088,310
7                        Moonlight     $65,172,611
8                       Green Book    $321,752,656

In [145]:
df_concat = pd.concat([df, df_2, df_3], ignore_index=True)

In [146]:
df_concat

                                        Film Incasso Globale
0                           Fronte del porto          $3,350
1                             L'appartamento     $18,778,738
2                              Quinto potere     $23,701,317
3                                     Gandhi     $52,767,889
4                         A spasso con Daisy    $145,793,296
5                           Schindler's List    $322,161,245
6                               Forrest Gump    $678,226,465
7                            The Millionaire    $378,411,362
8                            12 anni schiavo    $187,734,091
9                          Il caso Spotlight     $98,690,254
10  La forma dell'acqua - The Shape of Water    $195,243,464
11                                  Parasite    $262,129,969
12                                 Nomadland     $39,458,207
13                  CODA - I segni del cuore      $1,905,058
14                             La mia Africa    $227,514,205
15                         Lawrence d'Arabia     $45,754,427
16                       L'ultimo imperatore     $43,994,979
17           Rain Man - L'uomo della pioggia    $354,825,435
18                       Il paziente inglese    $231,976,425
19                    Crash: Contatto fisico     $98,410,061
20                        Il discorso del re    $472,088,310
21                                 Moonlight     $65,172,611
22                                Green Book    $321,752,656

In [147]:
dataset_rate=pd.read_csv('rating_film.csv')

In [148]:
dataset_rate

                                         Film  Anno     Genere  Ratings
0                  All'ovest niente di nuovo   1930      Drama      8.1
1                             Giorni perduti   1945      Drama      7.9
2                           Fronte del porto   1954      Crime      8.1
3                             L'appartamento   1960     Comedy      8.3
4                          Lawrence d'Arabia   1962  Adventure      8.3
5                              Quinto potere   1976      Drama      8.1
6                                     Gandhi   1982  Biography      8.0
7                              La mia Africa   1985  Biography      7.1
8                        L'ultimo imperatore   1987  Biography      7.7
9            Rain Man - L'uomo della pioggia   1988      Drama      8.0
10                        A spasso con Daisy   1989     Comedy      7.3
11                          Schindler's List   1993  Biography      9.0
12                              Forrest Gump   1994      Drama      8.8
13                       Il paziente inglese   1996      Drama      7.4
14                    Crash: Contatto fisico   2004      Crime      7.7
15                           The Millionaire   2008      Crime      8.0
16                        Il discorso del re   2010  Biography      8.0
17                           12 anni schiavo   2013  Biography      8.1
18                         Il caso Spotlight   2015  Biography      8.1
19                                 Moonlight   2016      Drama      7.4
20  La forma dell'acqua - The Shape of Water   2017      Drama      7.3
21                                Green Book   2018  Biography      8.2
22                                  Parasite   2019      Drama      8.5
23                                 Nomadland   2020      Drama      7.3
24                  CODA - I segni del cuore   2021     Comedy      8.0

In [149]:
# Normalizzazione dei titoli dei film (rimozione spazi extra e conversione in minuscolo)
dataset_rate['Film_normalized'] = dataset_rate['Film'].str.strip().str.lower()
df_concat['Film_normalized'] = df_concat['Film'].str.strip().str.lower()

# Merge basato sul titolo del film normalizzato
merged_df = pd.merge(dataset_rate, df_concat, left_on='Film_normalized', right_on='Film_normalized', how='left')

# Rimuovere la colonna aggiuntiva 'Film_normalized'
merged_df.drop('Film_normalized', axis=1, inplace=True)

In [156]:
merged_df=merged_df.drop('Film_y', axis=1)

In [157]:
merged_df = merged_df.rename(columns={'Film_x': 'Film'})

In [158]:
merged_df

,Film,Anno,Genere,Ratings,Incasso Globale
0,All'ovest niente di nuovo,1930,Drama,8.1,NaN
1,Giorni perduti,1945,Drama,7.9,NaN
2,Fronte del porto,1954,Crime,8.1,"$3,350"
3,L'appartamento,1960,Comedy,8.3,"$18,778,738"
4,Lawrence d'Arabia,1962,Adventure,8.3,"$45,754,427"
5,Quinto potere,1976,Drama,8.1,"$23,701,317"
6,Gandhi,1982,Biography,8.0,"$52,767,889"
7,La mia Africa,1985,Biography,7.1,"$227,514,205"
8,L'ultimo imperatore,1987,Biography,7.7,"$43,994,979"
9,Rain Man - L'uomo della pioggia,1988,Drama,8.0,"$354,825,435"
10,A spasso con Daisy,1989,Comedy,7.3,"$145,793,296"
11,Schindler's List,1993,Biography,9.0,"$322,161,245"
12,Forrest Gump,1994,Drama,8.8,"$678,226,465"
13,Il paziente inglese,1996,Drama,7.4,"$231,976,425"
14,Crash: Contatto fisico,2004,Crime,7.7,"$98,410,061"
15,The Millionaire,2008,Crime,8.0,"$378,411,362"
16,Il discorso del re,2010,Biography,8.0,"$472,088,310"
17,12 anni schiavo,2013,Biography,8.1,"$187,734,091"
18,Il caso Spotlight,2015,Biography,8.1,"$98,690,254"
19,Moonlight,2016,Drama,7.4,"$65,172,611"
20,La forma dell'acqua - The Shape of Water,2017,Drama,7.3,"$195,243,464"
21,Green Book,2018,Biography,8.2,"$321,752,656"
22,Parasite,2019,Drama,8.5,"$262,129,969"
23,Nomadland,2020,Drama,7.3,"$39,458,207"
24,CODA - I segni del cuore,2021,Comedy,8.0,"$1,905,058"

In [160]:
merged_df.to_csv('incassi_film.csv', index=False)

In [5]:
dataset_incassi=pd.read_csv('incassi_film.csv')

In [6]:
dataset_incassi

,Film,Anno,Genere,Ratings,Incasso Globale
0,All'ovest niente di nuovo,1930,Drama,8.1,NaN
1,Giorni perduti,1945,Drama,7.9,NaN
2,Fronte del porto,1954,Crime,8.1,"$3,350"
3,L'appartamento,1960,Comedy,8.3,"$18,778,738"
4,Lawrence d'Arabia,1962,Adventure,8.3,"$45,754,427"
5,Quinto potere,1976,Drama,8.1,"$23,701,317"
6,Gandhi,1982,Biography,8.0,"$52,767,889"
7,La mia Africa,1985,Biography,7.1,"$227,514,205"
8,L'ultimo imperatore,1987,Biography,7.7,"$43,994,979"
9,Rain Man - L'uomo della pioggia,1988,Drama,8.0,"$354,825,435"
10,A spasso con Daisy,1989,Comedy,7.3,"$145,793,296"
11,Schindler's List,1993,Biography,9.0,"$322,161,245"
12,Forrest Gump,1994,Drama,8.8,"$678,226,465"
13,Il paziente inglese,1996,Drama,7.4,"$231,976,425"
14,Crash: Contatto fisico,2004,Crime,7.7,"$98,410,061"
15,The Millionaire,2008,Crime,8.0,"$378,411,362"
16,Il discorso del re,2010,Biography,8.0,"$472,088,310"
17,12 anni schiavo,2013,Biography,8.1,"$187,734,091"
18,Il caso Spotlight,2015,Biography,8.1,"$98,690,254"
19,Moonlight,2016,Drama,7.4,"$65,172,611"
20,La forma dell'acqua - The Shape of Water,2017,Drama,7.3,"$195,243,464"
21,Green Book,2018,Biography,8.2,"$321,752,656"
22,Parasite,2019,Drama,8.5,"$262,129,969"
23,Nomadland,2020,Drama,7.3,"$39,458,207"
24,CODA - I segni del cuore,2021,Comedy,8.0,"$1,905,058"