In [138]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup 
import pandas as pdp
import requests
import random

In [139]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_worldwide_data(urls, specified_titles):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
    }

    all_data = []

    for url, specified_title in zip(urls, specified_titles):
        # Fetch the webpage
        page = requests.get(url, headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser')

        # Find all div elements with class 'mojo-performance-summary-table'
        performance_summary_divs = soup.find_all('div', class_='mojo-performance-summary-table')

        worldwide_value = None

        for div in performance_summary_divs:
            h2_element = div.find('h2', class_='a-size-large a-text-bold')
            if h2_element and h2_element.text.strip() == 'All Releases':
                release_divs = div.find_all('div', class_='a-section a-spacing-none')
                
                for release_div in release_divs:
                    label_span = release_div.find('span', class_='a-size-small')
                    if label_span:
                        label = label_span.text.strip()

                        if label == 'Worldwide':
                            money_span = release_div.find('span', class_='money')
                            if money_span:
                                worldwide_value = money_span.text.strip()
                                break  # Stop searching further once found

        if worldwide_value:
            all_data.append({
                'Film': specified_title,
                'Incasso Globale': worldwide_value
            })
        else:
            all_data.append({
                'Title': specified_title,
                'Worldwide Gross': 'Dati non disponibili'
            })

    return all_data

# List of URLs to scrape
urls = [
    "https://www.boxofficemojo.com/title/tt0047296/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0053604/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0074958/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0083987/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0097239/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0108052/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0109830/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt1010048/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt2024544/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt1895587/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt5580390/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6966692/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6751668/?ref_=bo_se_r_1"
    
    
    
    
]

# List of specified titles corresponding to each URL
specified_titles = [
    "Fronte del porto",
    "L'appartamento",
    "Quinto potere",
    "Gandhi",
    "A spasso con Daisy",
    "Schindler's List",
    "Forrest Gump",
    "The Millionaire",
    "12 anni schiavo",
    "Il caso Spotlight",
    "La forma dell'acqua - The Shape of Water",
    
]

# Scrape data and create DataFrame
data = scrape_worldwide_data(urls, specified_titles)
df = pd.DataFrame(data)

# Print the DataFrame

In [140]:
df

                                        Film Incasso Globale
0                           Fronte del porto          $3,350
1                             L'appartamento     $18,778,738
2                              Quinto potere     $23,701,317
3                                     Gandhi     $52,767,889
4                         A spasso con Daisy    $145,793,296
5                           Schindler's List    $322,161,245
6                               Forrest Gump    $678,226,465
7                            The Millionaire    $378,411,362
8                            12 anni schiavo    $187,734,091
9                          Il caso Spotlight     $98,690,254
10  La forma dell'acqua - The Shape of Water    $195,243,464

In [141]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_worldwide_data(urls, specified_titles):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
    }

    all_data = []

    for url, specified_title in zip(urls, specified_titles):
        # Fetch the webpage
        page = requests.get(url, headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser')

        # Find all div elements with class 'mojo-performance-summary-table'
        performance_summary_divs = soup.find_all('div', class_='mojo-performance-summary-table')

        worldwide_value = None

        for div in performance_summary_divs:
            h2_element = div.find('h2', class_='a-size-large a-text-bold')
            if h2_element and h2_element.text.strip() == 'All Releases':
                release_divs = div.find_all('div', class_='a-section a-spacing-none')
                
                for release_div in release_divs:
                    label_span = release_div.find('span', class_='a-size-small')
                    if label_span:
                        label = label_span.text.strip()

                        if label == 'Worldwide':
                            money_span = release_div.find('span', class_='money')
                            if money_span:
                                worldwide_value = money_span.text.strip()
                                break  # Stop searching further once found

        if worldwide_value:
            all_data.append({
                'Film': specified_title,
                'Incasso Globale': worldwide_value
            })
        else:
            all_data.append({
                'Title': specified_title,
                'Worldwide Gross': 'Dati non disponibili'
            })

    return all_data

# List of URLs to scrape
urls = [
    "https://www.boxofficemojo.com/title/tt6751668/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt9770150/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt10366460/?ref_=bo_se_r_1"
    
    
    
    
]

# List of specified titles corresponding to each URL
specified_titles = [
    "Parasite", #Parasite
    "Nomadland",
    "CODA - I segni del cuore"
    
]

# Scrape data and create DataFrame
data = scrape_worldwide_data(urls, specified_titles)
df_2 = pd.DataFrame(data)

# Print the DataFrame

In [142]:
df_2

                       Film Incasso Globale
0                  Parasite    $262,129,969
1                 Nomadland     $39,458,207
2  CODA - I segni del cuore      $1,905,058

# Altri

In [143]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_worldwide_data(urls, specified_titles):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
    }

    all_data = []

    for url, specified_title in zip(urls, specified_titles):
        # Fetch the webpage
        page = requests.get(url, headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser')

        # Find all div elements with class 'mojo-performance-summary-table'
        performance_summary_divs = soup.find_all('div', class_='mojo-performance-summary-table')

        worldwide_value = None

        for div in performance_summary_divs:
            h2_element = div.find('h2', class_='a-size-large a-text-bold')
            if h2_element and h2_element.text.strip() == 'All Releases':
                release_divs = div.find_all('div', class_='a-section a-spacing-none')
                
                for release_div in release_divs:
                    label_span = release_div.find('span', class_='a-size-small')
                    if label_span:
                        label = label_span.text.strip()

                        if label == 'Worldwide':
                            money_span = release_div.find('span', class_='money')
                            if money_span:
                                worldwide_value = money_span.text.strip()
                                break  # Stop searching further once found

        if worldwide_value:
            all_data.append({
                'Film': specified_title,
                'Incasso Globale': worldwide_value
            })
        else:
            all_data.append({
                'Title': specified_title,
                'Worldwide Gross': 'Dati non disponibili'
            })

    return all_data

# List of URLs to scrape
urls = [
    "https://www.boxofficemojo.com/title/tt0089755/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0056172/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0093389/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0095953/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0116209/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt0375679/?ref_=bo_se_r_2",
    "https://www.boxofficemojo.com/title/tt1504320/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt4975722/?ref_=bo_se_r_1",
    "https://www.boxofficemojo.com/title/tt6966692/?ref_=bo_se_r_1"
   
    
    
    
    
]

# List of specified titles corresponding to each URL
specified_titles = [
    "La mia Africa",
    "Lawrence d'Arabia",
    "L'ultimo imperatore",
    "Rain Man - L'uomo della pioggia",
    "Il paziente inglese",
    "Crash: Contatto fisico",
    "Il discorso del re",
    "Moonlight", 
    "Green Book"
    
   
    
]

# Scrape data and create DataFrame
data = scrape_worldwide_data(urls, specified_titles)
df_3 = pd.DataFrame(data)

# Print the DataFrame

In [144]:
df_3

                              Film Incasso Globale
0                    La mia Africa    $227,514,205
1                Lawrence d'Arabia     $45,754,427
2              L'ultimo imperatore     $43,994,979
3  Rain Man - L'uomo della pioggia    $354,825,435
4              Il paziente inglese    $231,976,425
5           Crash: Contatto fisico     $98,410,061
6               Il discorso del re    $472,088,310
7                        Moonlight     $65,172,611
8                       Green Book    $321,752,656

In [145]:
df_concat = pd.concat([df, df_2, df_3], ignore_index=True)

In [146]:
df_concat

                                        Film Incasso Globale
0                           Fronte del porto          $3,350
1                             L'appartamento     $18,778,738
2                              Quinto potere     $23,701,317
3                                     Gandhi     $52,767,889
4                         A spasso con Daisy    $145,793,296
5                           Schindler's List    $322,161,245
6                               Forrest Gump    $678,226,465
7                            The Millionaire    $378,411,362
8                            12 anni schiavo    $187,734,091
9                          Il caso Spotlight     $98,690,254
10  La forma dell'acqua - The Shape of Water    $195,243,464
11                                  Parasite    $262,129,969
12                                 Nomadland     $39,458,207
13                  CODA - I segni del cuore      $1,905,058
14                             La mia Africa    $227,514,205
15                         Lawrence d'Arabia     $45,754,427
16                       L'ultimo imperatore     $43,994,979
17           Rain Man - L'uomo della pioggia    $354,825,435
18                       Il paziente inglese    $231,976,425
19                    Crash: Contatto fisico     $98,410,061
20                        Il discorso del re    $472,088,310
21                                 Moonlight     $65,172,611
22                                Green Book    $321,752,656

In [147]:
dataset_rate=pd.read_csv('rating_film.csv')

In [148]:
dataset_rate

                                         Film  Anno     Genere  Ratings
0                  All'ovest niente di nuovo   1930      Drama      8.1
1                             Giorni perduti   1945      Drama      7.9
2                           Fronte del porto   1954      Crime      8.1
3                             L'appartamento   1960     Comedy      8.3
4                          Lawrence d'Arabia   1962  Adventure      8.3
5                              Quinto potere   1976      Drama      8.1
6                                     Gandhi   1982  Biography      8.0
7                              La mia Africa   1985  Biography      7.1
8                        L'ultimo imperatore   1987  Biography      7.7
9            Rain Man - L'uomo della pioggia   1988      Drama      8.0
10                        A spasso con Daisy   1989     Comedy      7.3
11                          Schindler's List   1993  Biography      9.0
12                              Forrest Gump   1994      Drama      8.8
13                       Il paziente inglese   1996      Drama      7.4
14                    Crash: Contatto fisico   2004      Crime      7.7
15                           The Millionaire   2008      Crime      8.0
16                        Il discorso del re   2010  Biography      8.0
17                           12 anni schiavo   2013  Biography      8.1
18                         Il caso Spotlight   2015  Biography      8.1
19                                 Moonlight   2016      Drama      7.4
20  La forma dell'acqua - The Shape of Water   2017      Drama      7.3
21                                Green Book   2018  Biography      8.2
22                                  Parasite   2019      Drama      8.5
23                                 Nomadland   2020      Drama      7.3
24                  CODA - I segni del cuore   2021     Comedy      8.0

In [149]:
# Normalizzazione dei titoli dei film (rimozione spazi extra e conversione in minuscolo)
dataset_rate['Film_normalized'] = dataset_rate['Film'].str.strip().str.lower()
df_concat['Film_normalized'] = df_concat['Film'].str.strip().str.lower()

# Merge basato sul titolo del film normalizzato
merged_df = pd.merge(dataset_rate, df_concat, left_on='Film_normalized', right_on='Film_normalized', how='left')

# Rimuovere la colonna aggiuntiva 'Film_normalized'
merged_df.drop('Film_normalized', axis=1, inplace=True)

In [156]:
merged_df=merged_df.drop('Film_y', axis=1)

In [157]:
merged_df = merged_df.rename(columns={'Film_x': 'Film'})

In [158]:
merged_df

,Film,Anno,Genere,Ratings,Incasso Globale
0,All'ovest niente di nuovo,1930,Drama,8.1,NaN
1,Giorni perduti,1945,Drama,7.9,NaN
2,Fronte del porto,1954,Crime,8.1,"$3,350"
3,L'appartamento,1960,Comedy,8.3,"$18,778,738"
4,Lawrence d'Arabia,1962,Adventure,8.3,"$45,754,427"
5,Quinto potere,1976,Drama,8.1,"$23,701,317"
6,Gandhi,1982,Biography,8.0,"$52,767,889"
7,La mia Africa,1985,Biography,7.1,"$227,514,205"
8,L'ultimo imperatore,1987,Biography,7.7,"$43,994,979"
9,Rain Man - L'uomo della pioggia,1988,Drama,8.0,"$354,825,435"
10,A spasso con Daisy,1989,Comedy,7.3,"$145,793,296"
11,Schindler's List,1993,Biography,9.0,"$322,161,245"
12,Forrest Gump,1994,Drama,8.8,"$678,226,465"
13,Il paziente inglese,1996,Drama,7.4,"$231,976,425"
14,Crash: Contatto fisico,2004,Crime,7.7,"$98,410,061"
15,The Millionaire,2008,Crime,8.0,"$378,411,362"
16,Il discorso del re,2010,Biography,8.0,"$472,088,310"
17,12 anni schiavo,2013,Biography,8.1,"$187,734,091"
18,Il caso Spotlight,2015,Biography,8.1,"$98,690,254"
19,Moonlight,2016,Drama,7.4,"$65,172,611"
20,La forma dell'acqua - The Shape of Water,2017,Drama,7.3,"$195,243,464"
21,Green Book,2018,Biography,8.2,"$321,752,656"
22,Parasite,2019,Drama,8.5,"$262,129,969"
23,Nomadland,2020,Drama,7.3,"$39,458,207"
24,CODA - I segni del cuore,2021,Comedy,8.0,"$1,905,058"

In [160]:
merged_df.to_csv('incassi_film.csv', index=False)